[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pypiwin32 = "*"
pydantic = "*"
watchdog = "*"
"discord.py" = "*"
colorama = "*"
pyyaml = "*"

[dev-packages]
pyinstaller = "*"
pyinstaller-versionfile = "*"

[requires]
python_version = "3.9"

[scripts]
generate-version-file = "create-version-file metadata.yml --outfile file_version_info.txt --version"
build = "pyinstaller --onefile --name fredboard --icon favicon.ico main.py --add-data \"metadata.yml;metadata.yml\" --version-file file_version_info.txt"

