[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pypiwin32 = "*"
pydantic = "*"
watchdog = "*"
"discord.py" = "*"
colorama = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"

[scripts]
build = "pyinstaller --onefile --name fredboard --icon favicon.ico main.py"
